@use "../../../scss/style" as *;

.nav {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  height: 2.9rem;
  flex-grow: 1;
  max-width: 102rem;
}

@include breakpoint(large) {
  .nav {
    height: 1.7rem;
    gap: 0.25rem;
    .link {
      font-size: 1.1rem;
    }

    .lang {
      font-size: 1rem;
      letter-spacing: 0.2rem;

      padding: 0.15rem 0.2rem 0rem 0.4rem;
    }
  }
}
@include breakpoint(medium) {
  .nav {
    display: none;
  }
}
