@use "../../scss/abstracts/breakpoints" as *;

.hero {
  --hero-width: var(--page-width);
  --img-width: calc(var(--hero-width) / 2.79);
  --text-width: calc(var(--hero-width) / 1.78);

  --hero-top-margin: 6.9rem;
  --hero-bottom-margin: calc(var(--hero-width) / 30.6);
  --scroll-top-margin: calc(var(--hero-width) / 40.5);

  --paragraph-gap: 2.6rem;
  --font-size: calc(var(--text-width) / 30.8);
  --text-line-height: calc(var(--text-width) / 21.5); // 2.6rem
  --scroll-width: calc(var(--hero-width) / 14.6);

  .wrapper {
    max-width: var(--hero-width);
    margin: var(--hero-top-margin) auto var(--hero-bottom-margin) auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
      width: var(--img-width);
    }

    .text {
      width: var(--text-width);

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: var(--paragraph-gap);

      font-size: var(--font-size);
      line-height: var(--text-line-height);
      color: var(--clr-text-1);

      &:lang(ka) {
        --font-size: calc(var(--text-width) / 28);
      }
    }
  }

  .scroll {
    width: fit-content;
    img {
      width: var(--scroll-width);
    }
    margin: var(--scroll-top-margin) auto;
  }

  .readingsContainer {
    margin: auto;
    max-width: min(98vw, 112rem);
    transition: 0.5s;

    &:hover {
      background-color: var(--clr-gray-1);
      cursor: pointer;
    }

    a {
      text-decoration: none;
    }

    .readings {
      margin: auto;

      max-width: min(96vw, var(--main-page-width));
      border-top: solid var(--clr-gray-4) 1px;
      border-bottom: solid var(--clr-gray-4) 1px;
      padding: 1.8rem 0 1.8rem 0;
      line-height: calc(var(--text-width) / 21.5);

      font-size: calc(var(--text-width) / 30.8);
      color: var(--clr-text-1);
    }
  }
}

@include breakpoint(xlarge) {
  .hero {
    --page-width: 82vw;
  }
}
@include breakpoint(large) {
  .hero {
    --page-width: 87vw;
    --hero-top-margin: 5rem;
  }
}
@include breakpoint(medium) {
  .hero {
    --hero-width: 94vw;
    --img-width: 20rem;
    --scroll-width: 5rem;
    --hero-top-margin: 3rem;
    --scroll-top-margin: 2rem;
    --text-line-height: 1.5rem;

    .wrapper {
      flex-direction: column;
      gap: 3rem;

      .text {
        width: 100%;
        height: auto;
        font-size: 1rem;
      }
    }

    .readingsContainer {
      .readings {
        max-width: 94vw;
        line-height: var(--text-line-height);
        font-size: 1rem;
      }
    }
  }
}
@include breakpoint(small) {
  .hero {
    --hero-top-margin: 3.1rem;
    --hero-bottom-margin: 3.1rem;

    .wrapper {
      img {
        width: 100%;
        height: auto;
      }

      .text {
        width: 97%;
      }
    }

    .scroll {
      display: none;
    }

    .readingsContainer {
      display: none;
    }
  }
}
@include breakpoint(xsmall) {
  .hero {
    .wrapper {
      width: 100%;
    }
  }
}
