.main {
  max-width: min(85%, var(--page-width));
  margin: clamp(2.925rem, 0.5827rem + 6.2462vw, 8rem) auto;
  color: var(--clr-text-2);

  font-size: clamp(1rem, 0.6522rem + 1.7391vi, var(--f-size-2));
  line-height: clamp(1.875rem, 1.6576rem + 1.087vi, 2.5rem);

  p:not(:last-child) {
    margin-bottom: 3rem;
  }
}
