.main {
  margin: 10rem auto;
  width: fit-content;
  text-align: center;
  color: var(--clr-text-2);

  p:nth-child(1) {
    font-size: 8rem;
  }
  p:nth-child(2) {
    font-size: clamp(2rem, 1.4485rem + 0.9804vw, 2.625rem);
    margin-bottom: 1.5rem;
  }

  a {
    font-size: clamp(1.25rem, 0.7537rem + 0.8824vw, 1.8125rem);
    color: inherit;
  }
}
