@font-face {
  font-family: "Sandro-Universal-Bold";
  src: url("/assets/fonts/SandroUniversal-Bold.otf");
}

@font-face {
  font-family: "MyriadPro-Regular";
  src: url("/assets/fonts/MYRIADPRO-REGULAR.woff");
}

*,
body {
  font-family: hack, sans-serif;
  font-style: normal;
  font-weight: 400;
}
