@font-face {
  font-family: "Sandro-Universal-Bold";
  src: url("/assets/fonts/SandroUniversal-Bold.otf");
}

@font-face {
  font-family: "NotoSans-Regular";
  src: url("/assets/fonts/NotoSans-Regular.ttf");
}

@font-face {
  font-family: "Sandro-Bold";
  src: url("/assets/fonts/Sandro-Bold.otf");
}

@font-face {
  font-family: "Sandro-Regular";
  src: url("/assets/fonts/Sandro-Regular.otf");
}

@font-face {
  font-family: "Sandro-Universal-Regular";
  src: url("/assets/fonts/SandroUniversal-Regular.otf");
}

*,
body {
  font-family: NotoSans-Regular, sans-serif;
}
