@use "../../../scss/style" as *;

.illustrations {
  display: flex;
  gap: 0.5rem;
  height: fit-content;
  --individual-card-size: min(35vw, 52.5rem);

  .side {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

    gap: 0.5rem;

    .activeSideImage {
      opacity: 0.5;
      transition: transform 0.3s ease-in;
      transform: translateX(-0.5rem);
      &:hover {
        cursor: pointer;
      }
    }

    .actions {
      margin-top: auto;
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
      transform: translateX(-0.25rem);

      .print,
      .download {
        width: calc(var(--individual-card-size) / 10.9);
        height: calc(var(--individual-card-size) / 10.9);
        background-color: var(--clr-gray-1);

        padding: 0.7rem;
      }
    }
  }

  @include breakpoint(large) {
    --individual-card-size: min(70vw, 42.5rem);
  }
}
