@use "../../../scss/style" as *;

.sideNav {
  background-color: var(--clr-gray-1);
  opacity: 0.9;
  width: min(100%, 26rem);
  position: absolute;
  height: 100vh;
  top: 3.2rem;
  right: 0;
  padding: 1rem 1.2rem 3rem 0;
  z-index: -1;

  display: flex;
  align-items: flex-end;
  flex-direction: column;

  overflow-y: auto;

  @include breakpoint(small) {
    width: 100%;
  }
}

.burger {
  display: block;
  margin-right: 0.625rem;
  margin-left: auto;
  background-color: white;
  align-self: flex-end;
}

.openburger {
  background-color: var(--clr-gray-1);
}
