@mixin card(
  $border-color,
  $illustration-size,
  $hover-enabled: true,
  $hover-cursor-enabled: false
) {
  background-color: $border-color;
  width: $illustration-size;
  height: $illustration-size;
  position: relative;

  @if $hover-cursor-enabled {
    &:hover {
      cursor: pointer;
    }
  }

  .heading {
    position: absolute;
    font-family: "Sandro-Universal-Bold";
    font-size: calc($illustration-size / 11.5);
    color: var(--clr-blue-2);
    top: calc($illustration-size / 10);
    left: calc($illustration-size / 8);
    z-index: 1;
    transition: transform 0.3s ease-out;
    white-space: pre-line;
    line-height: calc($illustration-size / 10);

    @if $hover-enabled {
      &:has(+ .illustration:hover) {
        transform: scale(1.02);
      }
    }

    &:lang(ka) {
      font-size: calc($illustration-size / 16.5);
      line-height: calc($illustration-size / 15);
    }
  }

  .illustration {
    display: block;
    width: 100%;
    height: 100%;

    transition: transform 0.3s ease-out;

    @if $hover-enabled {
      &:hover {
        transform: scale(1.015);
        cursor: pointer;
      }
    }
  }

  .subheading {
    position: absolute;
    color: var(--clr-blue-2);
    font-size: calc($illustration-size / 22.8);
    font-family: "Sandro-Regular";

    bottom: calc($illustration-size / 25);
    right: calc($illustration-size / 9.5);

    &:lang(ka) {
      font-size: calc($illustration-size / 24.8);
    }
  }
}

@mixin card2(
  $background-color,
  $illustration-size,
  $hover-cursor-enabled: false
) {
  background-color: $background-color;
  width: $illustration-size;
  height: $illustration-size;
  position: relative;

  @if $hover-cursor-enabled {
    &:hover {
      cursor: pointer;
    }
  }

  .heading {
    position: absolute;
    font-family: "Sandro-Bold";
    font-size: calc($illustration-size / 25);
    color: var(--clr-blue-2);
    top: calc($illustration-size / 22);
    left: calc($illustration-size / 9.5);
    z-index: 1;
    transition: transform 0.3s ease-out;
    white-space: pre-line;
  }

  .illustration {
    display: block;
    width: 100%;
    height: 100%;

    transition: transform 0.3s ease-out;
  }

  .subheading {
    position: absolute;
    bottom: calc($illustration-size / 25);
    right: calc($illustration-size / 9.5);
    color: var(--clr-blue-2);
    font-size: calc($illustration-size / 25);
    font-family: "Sandro-Regular";
  }
}

@mixin aboutEducatorsLayout {
  max-width: min(85%, var(--page-width));
  margin: clamp(2.925rem, 0.5827rem + 6.2462vw, 8rem) auto;
  color: var(--clr-text-2);

  font-size: clamp(1rem, 0.6522rem + 1.7391vi, var(--f-size-2));
  line-height: clamp(1.875rem, 1.6576rem + 1.087vi, 2.5rem);

  p:not(:last-child) {
    margin-bottom: 3rem;
  }
}
