.main {
  margin: 3.5rem 1rem;
  display: flex;
  justify-content: center;
  gap: 3.5rem;
  .text {
    font-size: var(--f-size-1);
    color: var(--clr-gray-4);
    max-width: 49rem;
    margin-top: 5rem;
    line-height: 42px;
  }
}

.illustrations {
  display: flex;
  gap: 0.5rem;
  height: fit-content;

  .activeImageDisplay {
    .active {
    }
  }

  .illustration {
    width: 9rem;
    height: 9rem;
  }

  .side {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

    gap: 0.5rem;

    .activeSideImage {
      opacity: 0.5;
      transition: transform 0.3s ease-in;
      transform: translateX(-0.5rem);
      &:hover {
        cursor: pointer;
      }
    }

    .actions {
      margin-top: auto;
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
      transform: translateX(-0.25rem);

      .print,
      .download {
        width: 4.8rem;
        height: 4.8rem;
        background-color: var(--clr-gray-1);

        padding: 0.7rem;
      }
    }
  }
}
