@use "../../scss/abstracts/breakpoints" as *;

.main {
  display: flex;
  justify-content: center;
  gap: 3.5rem;
  margin: 3.5rem auto;
  padding: 0 1rem;
  max-width: 118rem;

  .text {
    color: var(--clr-gray-4);
    font-size: clamp(1.25rem, -0.558rem + 2.0089vw, var(--f-size-1));
    margin-top: clamp(3rem, -3.4286rem + 7.1429vw, 5rem);
    line-height: 2.625rem;
  }

  @include breakpoint(large) {
    flex-wrap: wrap-reverse;
    justify-content: center;
    width: min-content;
    padding: 0;

    .text {
      font-size: 1.5rem;
      margin-top: 0;
    }
  }
  @include breakpoint(medium) {
    width: 90vw;
    margin: 2rem auto;
    gap: 2.5rem;

    .text {
      line-height: 2rem;
    }
  }
}
