@use "../../scss/abstracts/breakpoints" as *;

.main {
  margin: 3.5rem 1rem;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  gap: 3.5rem;
  .text {
    font-size: var(--f-size-1);
    color: var(--clr-gray-4);
    max-width: 49rem;
    margin-top: 5rem;
    line-height: 2.6rem;

    @include breakpoint(large) {
      margin-top: 3rem;
      font-size: 1.3rem;
    }
  }
}

@include breakpoint(medium) {
  .main {
    width: 90vw;
    margin: auto;
    gap: 1rem;

    .text {
      font-size: 1rem;
      line-height: 1.8rem;
    }
  }
}
