@use "../../scss/abstracts/breakpoints" as *;

.header {
  background-color: var(--clr-navbar-bg);
  font-size: var(--f-size-navbar);
  height: 8rem;
  z-index: 999;
  position: relative;

  @include breakpoint(large) {
    height: 5rem;
  }
  @include breakpoint(medium) {
    height: 3.2rem;
  }
}

.nav {
  height: inherit;
  display: flex;
  align-items: flex-end;
  max-width: 120rem;
  margin: 0 auto;
  gap: min(2rem, 2%);
  justify-content: space-between;

  .logo {
    transform: translateY(40%);
    margin-left: 1rem;
    z-index: 999;

    width: 13rem;
    height: 12rem;
  }

  @include breakpoint(large) {
    gap: clamp(0.2rem, 0.1rem + 0.8vw, 2rem);

    .logo {
      width: 6rem;
      height: 5rem;
      width: 8rem;
      height: 7rem;
      margin-left: 5px;
    }
  }
  @include breakpoint(medium) {
    .logo {
      width: 5rem;
      height: 4rem;
    }
  }
}
