@use "../../../scss/abstracts/breakpoints" as *;

.mobileDisplay {
  .groups {
    display: flex;
    flex-direction: column;
    gap: 8rem;
  }

  @include breakpoint-min(small) {
    display: none;
  }

  .scroll {
    width: fit-content;
    margin: 3rem auto;
  }
}
