@use "../../../scss/style" as *;

.section {
  background-color: var(--clr-gray-1);
  max-width: inherit;

  .title {
    font-size: clamp(1.75rem, 1.4457rem + 1.5217vi, var(--f-size-3));
    color: var(--clr-gray-4);
    min-height: 6rem;
    display: flex;
    align-items: center;
    padding: clamp(1rem, 0.8261rem + 0.8696vi, 1.5rem) 0;
    line-height: 2.6rem;
    width: 95%;
    margin: auto;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, var(--main-card-size));
    gap: 2rem;
    justify-items: center;
    justify-content: center;
    padding-bottom: 6rem;

    .card {
      .more {
        margin-left: auto;
        font-size: 1.75rem;
        background-color: white;
        padding: 0.2rem 0.4rem;
        margin-left: auto;
        width: fit-content;
        text-decoration: none;
        display: block;
        color: var(--clr-gray-4);
      }
    }

    @include breakpoint(xlarge) {
      --main-card-size: min(30vw, 32rem);
      gap: 1.5vw;
      padding-bottom: 4rem;
    }
    @include breakpoint(small) {
      --main-card-size: 95vw;
      gap: 2rem;
    }
  }
}
